.button-group {
    float: right;
    width: 264px;
    height: auto;
}

button {
    background: darkgray ;
    position: relative;
    padding = 0px;
    width: 264px;
    height: 100px;
    border: 1px solid #007dff;
    transition: all 0.6s ease;
    display: inline-block;
}

button:hover {
    background: #007dff;
}
